<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4">
      <div class="col"></div>
      <div class="col-md-12 bg-white shadow">
        <div class="card bg-warning mt-4">
          <h4 class="text-white p-3 pt-2 pb-2">Welcome to {{ title }} App</h4>
        </div>
        <div class="shadow">
          <div class="input-group p-4">
            <input
              class="form-control"
              type="text"
              placeholder="New Task"
              aria-label="New Task"
              #userInput
            />
            <button
              type="button"
              class="btn btn-success text-light"
              (click)="addTodo(userInput.value)"
            >
              Add NewTask
            </button>
          </div>
        </div>
        <!-- Klick auf Button called addTodo mit gegebenen Input -->
        <div style="height: 350px; overflow-y: auto">
          <div *ngFor="let task of taskList$ | async" class="m-3">
            <div class="p-2 shadow border">
              <div class="input-group row ps-3">
                <div class="card col-md-10 border-0">{{ task }}</div>
                <button
                  class="btn btn-warning col me-2"
                  (click)="editTodo(task)"
                >
                  Edit Task
                </button>
                <button class="btn btn-danger col" (click)="removeTodo(task)">
                  Delete Task
                </button>
                <!-- Klick auf Button called removetodo mit gegebenen Input -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col"></div>

    <router-outlet></router-outlet>
  </div>
</div>
